@import "variables";
@import "mixins";
// File scss có gạch chân ở trước -> không compiled sang file css


// extend: kế thừa css, dùng cho style tĩnh

// .button {
//     background: rgb(163, 160, 160);
//     color: #000;
//     border: 0;
//     padding: 10px 30px;
//     border-radius: 5px;
// }

// .button--red {
//     @extend .button;
//     background: red;
//     color: #fff;
// }

// .button--blue {
//     @extend .button;
//     background: blue;
//     color: #fff;
// }


// placeholder: xóa 

// %button {
//     background: rgb(163, 160, 160);
//     color: #000;
//     border: 0;
//     padding: 10px 30px;
//     border-radius: 5px;
// }

// .button--red {
//     @extend %button;
//     background: red;
//     color: #fff;
// }

// .button--blue {
//     @extend %button;
//     background: blue;
//     color: #fff;
// }



%button {
    background: rgb(163, 160, 160);
    color: #000;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
}

.button--red {
    @extend %button;
    background: $color-red;
    color: $color-white;
}

.button--blue {
    @extend %button;
    background: $color-blue;
    color: $color-white;
}


// Nesting: phân cấp
// nav example:

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    @include display-flex;
    @include flex-wrap;

    &__item {
        margin: 0 15px;
    }

    &__link {
        text-decoration: none;
        color: $color-gray;

        &--active {
            color: $color-blue;
        }

        &--disabled {
            color: #ddd;
            cursor: no-drop;
        }

        &:hover {
            color: $color-red;
        }
    }
}

// pagination example:

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    @include display-flex;
    @include flex-wrap;

    &__item {
        margin: 0 10px;

        &--active {
            color: $color-red;
        }
    }

    &__link {
        color: $color-gray;
        text-decoration: none;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 6px 10px;
        @include border-radius(12px);
    }

    &__item--disabled &__link {
        color: #ddd;
        cursor: no-drop;
    }

    &__item--active &__link {
        color: $color-red;
    }
}




.box {
    position: relative;
    background: yellow;
    width: 100%;
    height: 500px;
    @include border-radius(10px);

    &__item  {
        background: orange;
        width: 100px;
        height: 50px;

        &--one {
            @include pos-abs("top-left",10px ,10px );
        }

        &--two {
            @include pos-abs("top-right",20px ,20px );
        }

        &--three {
            @include pos-abs("bottom-right",30px ,30px );
        }

        &--four {
            @include pos-abs("bottom-left",40px, 40px );;
        }
    }
}



// For

$lengthOpacity: 10;

@for $i from 0 through $lengthOpacity {
    .opacity-#{$i} {
        opacity: 0.1*$i;
    }
}


// Operator
// calculate

// .box-2 {
//     background: orange;
//     width: calc(100px/ 2);
// }



// while
// $i: 0;
// $length: 100;

// @while($i <= $length) {
//     .mb-#{$i} {
//         margin-bottom: $i + px;
//     }
//     $i: $i + 5;
// }


// each
.btn {
    background: #ddd;
    color: #000;
}

$colors: ("red", "#851313", "#fff"), ("blue", "#2a2aaa", "#000"), ("orange","#8f6923", "#000"); 
@each $label, $bg, $color  in $colors {
    .btn--#{$label} {
        background: $bg;
        color: $color;
    }
}



// Function
@function sum($a, $b) {
    $c: $a + $b;
    @return $c;
}

.box-test {
    width: sum(10px, 20px);
}





